
#lightbox_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #fff;
    .modal_body {
        text-align: center;
    }
    .img_title_lightbox{
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0;
        .current_media {
            object-fit: fill;
            padding-top: 47px;
            height: 698px;
            width: 54%;
            margin: auto;
            border-radius: 5px;
        }
        .media-title{
            color: $color_primary;
            position: absolute;
            bottom: -20px;
            left: 23%;
        }
    }
    .close_modal_media{
        position: absolute;
        top: 6%;
        right: 19%;
        font-size: 50px;
        font-weight: lighter;
        color: $color_primary;    
    }
    .fa-chevron-right{
        position: absolute;
        top: 50%;
        right: 19%;
        color: $color_primary;
        font-size: 50px;
    }
    .fa-chevron-left{
        position: absolute;
        top: 50%;
        left: 19%;
        color: $color_primary;
        font-size: 50px;  
    }

}
@media  (max-width: 818px) and (min-width: 771px){
    #lightbox_modal{
        .current_media {
            width: 516px;
            height: 415px;
        }
        .media-title{
            padding-right: 327px;
        }
    }    
}
@media (max-width: 667px){
    #lightbox_modal{
       .img_title_lightbox{
           display: flex;
           flex-direction: column;
           position: relative;
           width: 287px;
           padding: 0;
           margin: auto;
        .current_media {
            object-fit: fill;
            width: 287px;
            height: 291px;
            margin: auto;
            margin-top: 242px;
            padding-top: 0;
        }
        .media-title{
            margin-left: 0;
            position: absolute;
            top: 98%;
            left: 0%;
        }
       }
        .close_modal_media{
            top: 32%;
            right: 4%;
            font-size: 19px;
        }
        .fa-chevron-right{
            right: 5%;
            font-size: 24px;
        }
        .fa-chevron-left{
            left: 4%;
            font-size: 24px;
        }

    } 
}