.container-modal {
}  
#lightbox_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #fff;
    .modal_body {
        text-align: center;
    }
    .current_media {
        object-fit: fill;
        width: 816px;
        height: 715px;
        margin-top: 35px;
        border-radius: 5px;
    }

    .close_modal_media{
        position: absolute;
        top: 5%;
        right: 11%;
        font-size: 50px;
        font-weight: lighter;
        color: $color_primary;    
    }
    .fa-chevron-right{
        position: absolute;
        top: 50%;
        right: 11%;
        color: $color_primary;
        font-size: 50px;
    }
    .fa-chevron-left{
        position: absolute;
        top: 50%;
        left: 11%;
        color: $color_primary;
        font-size: 50px;  
    }
    .media-title{
        color: $color_primary;
        padding-right: 673px;
        margin: 0px;
    }
}
@media (max-width: 667px){
    #lightbox_modal{
        .current_media {
            object-fit: fill;
            width: 287px;
            height: 276px;
            margin: auto;
            margin-top: 205px;
        }
        .close_modal_media{
            top: 30%;
            right: 7%;
            font-size: 19px;
        }
        .fa-chevron-right{
            right: 7%;
            font-size: 24px;
        }
        .fa-chevron-left{
            left: 7%;
            font-size: 24px;
        }
    } 
}