
    #contact_me_modal{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: #ffff;
       .content_modal{
            position: relative;
            width: 669px;
            height: 900px;
            background-color: $color_bg_scroll;
            margin: auto;
            border-radius: 5px;
       }
       fieldset{
        display: contents;
       }
        #modal_title{
            position: absolute;
            left: 5.23%;
            right: 13%;
            top: 2%;
            font-size: 56px;
            margin-top: 0px;
        }
        .fa-times{
            position: absolute;
            right: 5%;
            top: 3%;
            color: $color_white;
            font-size: 64px;
        }
        .label-first-name{
            position: absolute;
            left: 5%;
            top: 23%;
            font-size: 36px;
            font-weight: lighter;
            color: $color_modal_font;
        }
        #first-name{
            position: absolute;
            background: $color_white;
            left: 5.23%;
            top: 28%;
            border-radius: 5px;
            width: 88%;
            height: 60px;
            border-color: $color_white;
        }
        .label-last-name{
            position: absolute;
            left: 5%;
            top: 37%;
            font-size: 36px;
            font-weight: lighter;
            color: $color_modal_font;
        }
        #last-name{
            position: absolute;
            background: $color_white;
            left: 5.23%;
            top: 42%;
            border-radius: 5px;
            width: 88%;
            height: 60px;
            border-color: $color_white;
        }
        .label-email{
            position: absolute;
            left: 5%;
            top: 51%;
            font-size: 36px;
            font-weight: lighter;
            color: $color_modal_font;
        }
        #email{
            position: absolute;
            background: $color_white;
            left: 5.23%;
            top: 56%;
            border-radius: 5px;
            width: 88%;
            height: 60px;
            border-color: $color_white;
        }
        .label-message{
            position: absolute;
            left: 5%;
            top: 65%;
            font-size: 36px;
            font-weight: lighter;
            color: $color_modal_font;
        }
        #message{
            position: absolute;
            background: $color_white;
            left: 5.23%;
            top: 71%;
            border-radius: 5px;
            width: 88%;
            height: 170px;
            border-color: $color_white;
        }
        #btn_submit{
            position: absolute;
            left: 5%;
            top: 93%;
            font-size: 18px;
            font-weight: lighter;
            color: $color_white;
            background-color: $color_primary;
            border-radius: 5px;
            border-color: $color_primary;
            width: 136px;
            height: 53px;
        }
        #error_firstName{
            position: absolute;
            top: 36%;
            left: 5%;
        }
        #error_lastName{
            position: absolute;
            top: 50%;
            left: 5%;
        }
        #error_email{
            position: absolute;
            top: 64%;
            left: 5%;
        }
        #error_message{
            position: absolute;
            top: 91%;
            left: 5%;
        }
    }
    @media (max-width: 770px) {
        #contact_me_modal{
            .content_modal{
                width: 375px;
                height: 812px;
                border-radius: 0;
            }
            .fa-times{
                font-size: 25px;
            }
            #modal_title{
                font-size: 35px;
            }
            .label-first-name{
                top: 16%;
                font-size: 28px;
            }
            #first-name{
                top: 21%;
            }
            #error_firstName{
                top: 29%;
            }
            #error_lastName{
                top: 46%;
            }
            .label-last-name{
                top: 33%;
                font-size: 28px;
            }
            #last-name{
                top: 38%;
            }
            .label-email{
                top: 50%;
                font-size: 28px;
            }
            #email{
                top: 55%;
            }
            .label-message{
                top: 65%;
                font-size: 28px;
            }
            #message{
                top: 70%;
            }
        }
    }