#likes-price {
  background: $color_price_totalLikes;
  width: 331px;
  height: 67px;
  position: fixed;
  right: 26px;
  bottom: 0;
  display: flex;
  justify-content: space-between;

  #price-day{
    position: fixed;
    right: 50px;
    font-size: 18px;
    }
  #total-likes{
    position: relative;
    .total_likes{
      position: fixed;
      right: 303px;
      font-size: 18px;
    }
    .total{
      position: fixed;
      right: 242px;
      font-size: 18px;
      bottom: 27px;
      top: auto;
      color: $color_black;
    }
  }
  }
  