#header_scroll {
    display: none;
    position: fixed;
    top: 0.5rem;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    background-color: $color_bg_scroll;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    font-size: 1.1rem;
    font-weight: 700;
    //transition: all 0.5s ease-in-out;
    color: $color_black;
    z-index: 1;
  
    &:hover {
      background-color: $color_primary;
      color: $color_white;
    }
  }