
body {
   font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 3rem 5rem;
  }  
  @media (max-width: 600px) {
    body {
      padding: 1.5rem 0;
      margin-bottom: 1.5rem;
    }
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  main {
    justify-content: center;
  }

  .d-none{
    display: none!important;
  }