$color_primary: #901c1c;
$color_secondary: #d3573c;
$color_price: #757575;
$color_white: white;
$color_black: black;
$color_bg_scroll: #db8876;
$color_bord_tag: #c4c4c4;
$color_bg_photographe: #fafafa;
$color_words_photographe: #525252;
$color_modal_font:#312E2E;
